@font-face {
    font-family: "consolas";
    src: url("assets/Fonts/Consolas/consola.ttf");
    font-weight: 500;
}

.nav-div
{
    background-color: #333333;
    height: 50px;
}

#img{
    background-color: #333333;
    float: left;
    margin-left: 1%;
    height: 30px;
    padding: 10px 0;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   /* background-color:coral;
    position:fixed;*/
    
  }
  
  /*li {
    float: right;
    text-align: -webkit-match-parent;
   
    
  }*/
  .ul-1 li
  {
display: inline;
float: right;
  }
  li a {
    /*display: block;*/
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: dotted;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
body{
    background-image: url("assets/topography.png");
    padding:10%;
    line-height: 50px;
}

.szöveg-1{
    padding: 20px;
}
.text-myself h1{
    color:blue;
    font-family: 'roboto';
    
}
.broken-line{
    text-align:center;
    padding: 20px;
}
.text-article{
    padding: 20px;
}
h2{
    color:#ff0099;
}
#technology{
  text-align: center;
  color: #333333;
  font-size: x-large;
}
  
  p{
    font-family: 'consolas',Courier, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    text-align: justify;
  text-justify: inter-word;
  
  }